body {

}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;	
}

p, a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
}

td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;	
	text-align: center;
}

.check{
	font-size: 200px;
}

.clicked{
	td{
		background-color: green;
	}
}