body {
	margin: 20px;
	text-align: justify;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
}

p, a, li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.previous, .next {
  background-color: #f1f1f1;
  color: black;
}

.previous{
    position: absolute;
    bottom: 20px;
	left: 20px;
}

.next{
    position: absolute;
    bottom: 20px;
	right: 20px;
}

#trophyname{
	width: 95%;	
}

#barriers, #efficacy_plans{
	text-align: left;
 	margin: 0 auto;
	height: 100px;
	width: 95%;
}